.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: url("../images/backgrounds/background-home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home .presentation {
  text-align: center;
  width: 60%;
  margin: 10px 20%;
  padding: 30px 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--glasmorphism-background);
  border: var(--glasmorphism-border);
  border-radius: var(--glasmorphism-radius);
  backdrop-filter: var(--glasmorphism-filter);
  box-shadow: var(--glasmorphism-shadow);
  animation: showPresentation ease-in-out 0.5s;
}

.home .presentation h1 {
  font-size: 5rem;
  line-height: normal;
  margin: 0 20px;
}

.home .presentation h2 {
  font-size: 3rem;
  line-height: normal;
  margin: 0 20px;
}

.home .down {
  text-decoration: none;
  width: 5em;
  height: 5em;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  background-color: var(--glasmorphism-background);
  border: var(--glasmorphism-border);
  border-radius: 50%;
  backdrop-filter: blur(20px);
  box-shadow: var(--glasmorphism-shadow);
  animation: showPresentation ease-in-out 0.5s;
}

.home .down i {
  font-size: 25px;
  animation-name: slice-down;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.home .down p {
  font-size: 1em;
  animation-name: slice-down;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: linear-gradient(
    0deg,
    rgb(26, 26, 26),
    25%,
    rgba(26, 8, 150, 0.5)
  );
}

/* Keyframes to animations */

@keyframes slice-down {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes showPresentation {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) {
  section.home .presentation h2 {
    font-size: 2rem;
  }
}
